<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SysFixMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.bean.SysFix">
            <id property="fixId" column="fix_id" jdbcType="INTEGER"/>
            <result property="empId" column="emp_id" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="date" column="date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        fix_id,emp_id,remark,
        status,date
    </sql>
</mapper>
